* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  color: #222;
  background: #222;
  width: 100vw;
  height: 100vh;
}
.w100 {
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  margin: auto;
  margin-top: 5rem;
  padding: 10px;
  justify-content: space-evenly;
  flex-direction: column;
  width: 600px;
  height: 80vh;
  background-color: #fff;
  border-radius: 10px;
}
.container h1 {
  font-size: 3rem;
  height: 10%;
  margin: 20px 0;
}

.create-task-box {
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  max-width: 85%;
  margin-bottom: 20px;
}
.create-task-box input {
  padding-inline-start: 30px;
  border: none;
  border-radius: 30px;
  background: transparent;
  height: 100%;
  width: 80%;
}
.create-task-box button {
  width: 20%;
  height: 45px;
  border: none;
  border-radius: 30px;
  background-color: #ff5945;
  color: #fff;
}

.tasks-container {
  height: 80%;
  max-height: 450px;
  color: #222;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  
}

.task {
  width: 80%;
  min-height: 45px;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
}
.task p {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}

.btn-container {
  width: 70px;
  height: 100%;
  justify-content: space-between;
}

.create-task-box input:focus {
  outline: none;
}

.icon:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  transform: scale(1.15);
}

.create-task-box button:hover {
  color: #fff;
  cursor: pointer;
  opacity: .8;
}

.completed p {
  text-decoration:line-through;
  color: #888;
}

.editing {
  justify-content: flex-start;
  width: 70%;
  height: 35px;
  background: #edeef0;
  border-radius: 30px;
}

.editing input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  border-radius: 30px;
  padding-inline-start: 30px;
}

.editing input:focus {
  outline: 1px solid #888;
}